[Unit]
Description=Secretary - The Hermes Analysis System Node Client
Requires=syslog.target network-online.target

[Service]
Type=simple
ExecStartPre=cd /home/cuckoo/secretary/secretary
ExecStart=python secretary.py
Restart=on-success

[Install]
WantedBy=default.target
