# coding=utf-8
#
# Copyright (c) 2013,  Institute for Internet Security - if(is)
#
# This file is part of Secretary.
#
# Licensed under the EUPL, Version 1.1 or – as soon they
# will be approved by the European Commission - subsequent
# versions of the EUPL (the "Licence");
# You may not use this work except in compliance with the
# Licence.
# You may obtain a copy of the Licence at:
#
# http://ec.europa.eu/idabc/eupl 5
#
# Unless required by applicable law or agreed to in
# writing, software distributed under the Licence is
# distributed on an "AS IS" basis,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
# express or implied.
# See the Licence for the specific language governing
# permissions and limitations under the Licence.

[node]
# The name that is used to identify this node on hermes.
name = sparrow_node

# The ip address of the node in the network,
# that is connected with hermes
network_address = 127.0.0.11

metadata = Some metadata

# The directory that is used to store files like images and samples.
download_dir = ./download/

# Specify a comma-separated list of available cuckoo instances to be used. For each
# specified ID you have to define a dedicated section containing the details
# on the respective instance. (E.g. cuckoo1,cuckoo2,cuckoo3)
cuckoo_instances = cuckoo1

[cuckoo1]
# The address of the cuckoo REST-API server
rest_api_ip = localhost

# The port on which the cuckoo REST-API server is running
rest_api_port = 8090

cuckoo_base_dir = /home/secretary/Python/cuckoo/

# The directory that is used by cuckoo to submit sensor files to the virtual machine.
sensor_dir = analyzer/windows/modules/auxiliary/Sensoren

# The directory that is used by cuckoo to store the analysis results.
storage_dir = storage/analyses

# The directory that is used by cuckoo to store the database file
db_dir = db/

# The direcotry that is used by cuckoo to store the binaries.
binaries_dir = storage/binaries

cuckoo_py = cuckoo.py

api_py = utils/api.py

# The hypervisor that is used by this instance.
hypervisor = VirtualBox

[hermes]
# The url of the hermes server
hermes_url = http://localhost:8080/Hermes/

# Username of the node user
username = Machine

# Password of the node user
password = Bl3chbu3ch$3